apiVersion: v1
kind: Namespace
metadata:
  name: prod-namespace
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-demo
  namespace: prod-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: back-end
          image: 69934e1c5cd77267237bde90
          ports:
            - containerPort: 8072
          env:
            - name: DOCKER_ENV
              value: "prod"
---
apiVersion: v1
kind: Service
metadata:
  name: argo-demo
  namespace: prod-namespace
spec:
  type: LoadBalancer
  selector:
    app: web
  ports:
    - name: http
      port: 8072
      targetPort: 8072
